@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  font-family: 'Inter', sans-serif;
}

.App {
  position: relative;
  width: 375px;
  height: 812px;
  background-color: #fff;
  overflow: hidden;
}

p {
  font-size: 16px;
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
}
