@import '../../styles/config.scss';

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  position: absolute;
  top: 480px;
  width: 100%;

  .shuffle-btn {
    position: absolute;
    right: 30px;
    top: -40px;

    border: none;
    background-color: transparent;
    font-size: 30px;
    color: $main-purple;
    cursor: pointer;
  }
}
