@import '../../styles/config.scss';

.graph-wrapper {
  position: absolute;
  top: 110px;
  width: 100%;

  .question-number {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);

    font-size: 14px;
    color: #7f7f7f;
  }

  .question-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    font-size: 20px;
    text-align: center;
  }
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  position: absolute;
  top: 480px;

  .shuffle-btn {
    position: absolute;
    right: 30px;
    top: -40px;

    border: none;
    background-color: transparent;
    font-size: 30px;
    color: $main-purple;
    cursor: pointer;
  }
}
