@import '../../styles/config.scss';

.member {
  position: relative;
  display: flex;
  padding: 20px 30px;
  border-bottom: 1px solid $main-gray;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  .profile {
    width: 52px;
    height: 52px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 25px;
    img {
      width: 100%;
    }
  }
  .user-name {
    font-size: 16px;
    font-weight: 700;
  }
  .team {
    position: absolute;
    right: 28px;
    font-size: 12px;
    font-weight: 400;
    color: #aaa;
    line-height: 1.8rem;
  }
}
